/* Space
   ========================================================================== */
/* Radius
   ========================================================================== */
/* Color
   ========================================================================== */
/* Time
   ========================================================================== */
/* Border
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  padding: 0.8em 1.6em;
  color: #00B8EA;
  border: 1px solid;
  border-radius: 0.2em;
  transition: 0.5s;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 100px;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font: inherit;
}
.button + .button {
  margin-left: 0.8em;
}
.button:focus {
  outline: none;
}
.button:hover {
  border-color: #00B8EA;
  background: #00B8EA;
  color: #fff;
}

.wave {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: wave 0.6s linear;
}

@keyframes wave {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
.header {
  background: #00B8EA;
  padding: 0.8em;
  position: relative;
}
.header:after {
  content: "";
  height: 200%;
  display: block;
  background: #00B8EA;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.header > .wrap, .header > .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  border-top: 1px solid #000;
  padding: 0.8em;
}
.footer > .wrap, .footer > .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-home section.colors {
  display: grid;
  grid-gap: 0.8em;
  grid-template-columns: repeat(4, 1fr);
}
.page-home section.colors div {
  height: 100px;
  padding: 0.8em;
  color: #fff;
}
.page-home section.colors div:nth-child(1) {
  background: #6a6a6a;
  border-radius: 0.2em;
}
.page-home section.colors div:nth-child(2) {
  background: #444444;
  border-radius: 0.5em;
}
.page-home section.colors div:nth-child(3) {
  background: #1e1e1e;
  border-radius: 1em;
}
.page-home section.colors div:nth-child(4) {
  background: rgba(68, 68, 68, 0.5);
  border-radius: 10em;
}
.page-home section.colors div:nth-child(5) {
  background: #38d4ff;
}
.page-home section.colors div:nth-child(6) {
  background: #00B8EA;
}
.page-home section.colors div:nth-child(7) {
  background: #007c9e;
}
.page-home section.colors div:nth-child(8) {
  background: rgba(0, 184, 234, 0.5);
}
.page-home section.colors div:nth-child(9) {
  background: #0d98ea;
}
.page-home section.colors div:nth-child(10) {
  background: #0969A2;
}
.page-home section.colors div:nth-child(11) {
  background: #053a5a;
}
.page-home section.colors div:nth-child(12) {
  background: rgba(9, 105, 162, 0.5);
}
.page-home section.colors div:nth-child(13) {
  background: #d57a7a;
}
.page-home section.colors div:nth-child(14) {
  background: #C34040;
}
.page-home section.colors div:nth-child(15) {
  background: #8b2c2c;
}
.page-home section.colors div:nth-child(16) {
  background: rgba(195, 64, 64, 0.5);
}
:root {
  font-size: 62.5%;
}

body {
  font: 100 1.6rem Arial;
}

.wrap, .main {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0.8em;
}

.main {
  display: grid;
  grid-gap: 1.6em;
}

.card {
  padding: 1.6em;
  border: 1px solid #00B8EA;
  border-radius: 0.2em;
  background: #fff;
}

h1 {
  margin-bottom: 0.8em;
}

/*# sourceMappingURL=style.css.map */
