// testes

.page-home section{
    &.colors{
        display: grid;
        grid-gap: space();
        grid-template-columns: repeat(4, 1fr);   
        div{
            height: 100px;
            padding: space();
            color: color(light);
            &:nth-child(1){
                background: color(base, light);
                border-radius: radius();          
            }
            &:nth-child(2){
                background: color(base, base);
                border-radius: radius(md);
            }
            &:nth-child(3){
                background: color(base, dark);
                border-radius: radius(lg);
            }
            &:nth-child(4){
                background: color(base, trans);
                border-radius: radius(pill);
            }
            &:nth-child(5){
                background: color(primary, light);            
            }
            &:nth-child(6){
                background: color(primary, base);
            }
            &:nth-child(7){
                background: color(primary, dark);
            }
            &:nth-child(8){
                background: color(primary, trans);
            }
            &:nth-child(9){
                background: color(secondary, light);            
            }
            &:nth-child(10){
                background: color(secondary, base);
            }
            &:nth-child(11){
                background: color(secondary, dark);
            }
            &:nth-child(12){
                background: color(secondary, trans);
            }
            &:nth-child(13){
                background: color(negative, light);            
            }
            &:nth-child(14){
                background: color(negative, base);
            }
            &:nth-child(15){
                background: color(negative, dark);
            }                  
            &:nth-child(16){
                background: color(negative, trans);
            }                  
        }
    }
    &.fonts{

    }
}